---
http_interactions:
- request:
    method: post
    uri: https://pay.flitt.com/api/checkout/url
    body:
      encoding: UTF-8
      string: '{"request":{"server_callback_url":"http://myshop/callback/","order_id":"ByteTestOrder207","currency":"USD","merchant_id":1549901,"order_desc":"Test
        payment","amount":1000,"signature":"54cb2dc70bf20be6eab9216a2802fb9c2739b1ac"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response": {"checkout_url": "https://pay.flitt.com/merchants/6aa79957f6f8336b820e6c82b7634f0c/default/index.html?token=abb4517911ccb496b3a175df8ecb040d48d0cfb4",
        "payment_id": "939734940", "response_status": "success"}}'
  recorded_at: Thu, 19 Jun 2025 21:03:24 GMT
recorded_with: VCR 6.3.1
